<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Adicionar um usuário</h1>
	<form method="post" action="../../user/edit/<%- user.id %>">
		<label>Nome:</label><input type="text" name="name" value="<%- user.name %>"><br>
		<label>Usuário:</label><input type="text" name="username" value="<%- user.username %>"><br>
		<label>Nova Senha:</label><input type="text" name="password"><br>
		<input type="hidden" name="token" value="<%- token %>">
		<input type="submit" value="Atualizar">
	</form>	
</body>
</html>